<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.commute.dao.map.CommuteMap">
    <insert id="startWork">
        insert into commutes(starttime, startlocation, id)
        values (now(), #{startLocation}, #{id})
    </insert>

    <select id="listWork" resultType="Commute">
        select * from commutes
        where id = #{id}
        and DATE(starttime) BETWEEN #{startDate} AND #{endDate}
        order by worknum desc
    </select>

    <select id="chkWork" resultType="integer">
        select count(endlocation) from commutes
        where worknum in
        (select max(worknum) from commutes);
    </select>

    <update id="endWork">
        update commutes
        set endtime = now(), endlocation = #{endLocation}
        order by worknum desc limit 1;
    </update>

</mapper>